@import '~@angular/material/theming';
@import './material-colors.scss';
// @import "~ngx-easy-table/style.scss";

h1,
h2,
h3,
h4,
h5 {
  color: $color-primary;
}

mat-card-header,
mat-card-title,
nav {
  background-color: $color-primary !important;
  color: $color-white;
}

mat-card-subtitle {
  color: $color-gray;
}

// .mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-sort-header-arrow {
  color: $color-accent;
}

.mat-raised-button.mat-accent {
  background-color: $color-accent;
}
.mat-simple-snackbar-action {
  color: $color-accent;
}
