$color-primary: #34495e;
$color-primary-dark: #1f2e3c;
$color-secondary: #14538c;
$color-third: #ff8f00;

$color-success: #5cb85c;
$color-warning: #f0ad4e;
$color-error: #d9534f;

$color-accent: $color-third;
$color-info: $color-secondary;

$color-gray: lightgray;
$color-gray-light: #efefef;
$color-white: white;
